<#@ template language="C#" #>
<#@ output extension=".cs" #>
// Código gerado automaticamente - Não modifique manualmente.

namespace MeuProjeto
{
    public class MinhaClasseGerada
    {
        public void Executar()
        {
            System.Console.WriteLine("Olá, mundo!");
        }
    }
}